.heading-comps {
  .heading {
    margin-left: 14px;
    margin-right: 14px;
    overflow: hidden;
    .avatar {
      float: left;
      display: block;
      img {
        margin: 0 auto;
        max-width: 35px;
        border-radius: 50%;
      }
    }
    .info {
      width: 80%;
      float: left;
      height: 35px;
      display: table;
      padding-left: 10px;
      .table-cell {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        h3 {
          color: #ed1c24;
          font-size: 14px;
          margin-bottom: 0;
        }
        .date {
          color: #999;
          font-size: 12px;
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }
  }
  figcaption {
    margin: 10px 0 0;
    .text-wrap {
      position: relative;
      .post-msg {
        margin: 10px 14px;
        .quote {
          color: #333;
          font-size: 14px;
          word-wrap: break-word;
          line-height: normal;
        }
        .show-more-btn {
          font-size: 13px;
          position: absolute;
          bottom: -2px;
          margin: 0;
          background-color: #fff;
          padding: 0 5px;
          cursor: pointer;
          color: #ed1c24;
          right: 12px;
        }
      }
    }

    .thumbnail {
      padding: 0 14px !important;

      img {
        width: 100%;
      }

      &.layout-1 {
        max-height: 350px;
        overflow: hidden;

        .img {
          width: 100%;
        }
      }

      &.layout-2 {
        max-height: 175px;
        overflow: hidden;

        .img {
          float: left;
          width: calc(50% - 2.5px);

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }

      &.layout-3 {
        .img:first-child {
          width: 100%;
          max-height: 350px;
          overflow: hidden;
          margin-bottom: 5px;
        }

        .img:nth-child(2), .img:nth-child(3) {
          float: left;
          width: calc(50% - 2.5px);
          max-height: 175px;
          overflow: hidden;
        }

        .img:nth-child(2) {
          margin-right: 5px;
        }
      }
    }
  }
}