.header {
  margin-bottom: 5px;
}

.navbar-brand {
  color: #ed1c24;

  img {
    width: 145px;
    margin-top: -7.5px;
  }
}

#navbarSupportedContent {
  margin-bottom: -7.5px;

  li a:hover {
    color: #ed1c24;
  }
}
